{% load static %}

<html>
<head>
<title>Happy Holidays from the Gunthers Winter 2018-9!</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body><table>
<tbody><tr>
<td>
<img id="collage" alt="2018 Events" data-type="image" style="width: 333px; height: 120px; object-fit: cover;" src="{% static 'images/collage2018.jpg' %}">
</td>
</tr>
<tr>
<td valign="bottom">
<h1>Happy Holidays!</h1>
</td>
</tr>
</tbody></table> 



<h1> AT THE BEGINNING OF 2019 </h1>

<em> We'd like to thank you all for being our friends over the years, for sharing what there was to share.  </em>

<td><img src="{% static 'images/pie_SnP500_9M18_20181002.svg' %}" hspace="150" height="400">
</td>
</tr></tbody></table>

<hr>
<table><tbody><tr>
<td><h4> Boxplot Of Sector Returns For Last 5 Quarters. </h4>
</td>
<td><img src="{% static  'images/box_SnP500_9M18_20181002.svg' %}" hspace="200" height="900">
</td>
</tr></tbody></table>

<hr>
<table><tbody><tr>
<td><h4> Scatterplot Of Sector Returns For Last 5 Quarters </h4>
</td>
<td><img src="{% static  'images/scatter_SnP500_9M18_20181002.svg' %}" hspace="200" height="900">
</td>
</tr></tbody></table>

<hr>
<table><tbody><tr>
<td><h4> Cumulative Scatterplot Of Sector Returns For Last 5 Quarters </h4>
</td>
<td><img src="{% static  'images/scattercum_SnP500_9M18_20181002.svg' %}" hspace="200" height="900">
</td>
</tr></tbody></table>

<hr>
<h2> Individual Sector Performance in the Third Quarter Of 2018 </h2>

</body></html>
