{% load static %}

<html>
<head>
<title>Happy Holidays from the Gunthers during Winter 2018-9!</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/holidaycard.css' %}">
</head>
<div id=htext>Happy Holidays!</div>
<div id=holidaytext>It's been quite a year, juggling between California, Connecticut, New York and, this year, a long stay in Vermont.  (Hence the tiny kayaks and the lake.)</div>
<body><table>
<tbody><tr>
<td>
<img id="collage" alt="2018 Events" data-type="image" style="width: 1800px; height: 1400px; object-fit: cover;" src="{% static 'images/collage2018.jpg' %}">
</td>
</tr>
<tr>
<td valign="bottom">
</td>
</tr>
</tbody></table> 



<h1> LOOKING BACK AT 2018 FROM THE BEGINNING OF 2019 </h1>

<div id=holidaytext> We'd like to thank you all for being our friends over the years, for sharing with us what there was to share.  
It was Moltke who said no plan survives first contact with enemy.  This year, a more trenchant observation was that no plan we made survived first contact with our twin two-year olds.  In broad paraphrase:<hr>
Twins to right of us<br>
Twins to left of us<br>
Twins in front of us,<br>
Giggled and bumbled.<hr>
Or something like that.  Johnny, our third boy and well into his fifth year, ever his own man, took it upon himself to assume the role of ringleader and kingpin, urging his younger siblings to ever more radical experiments, our increasingly desperate attempts to dissuade him notwithstanding.  <br>
Later in the year, he developed, spontaneously, an interest verging on youthful obsession with Lego creations, emerging after hours alone in his room with creations, both complex and visually arresting, that he referred to, unfortunately and more than a little unsettlingly, as 'warships.'  <br>
What is a parent to do?<br>
In answer to that vexing question, one of us proposed a crash course in Latin leading to the special pleasure of reading Caesar's accounts of his engagingly (to a five-year old boy, or at least so one hopes) violent Gallic wars. The youth in question received the proposal warmly, but has yet to act on it. <br>
It's always nice to have something to look forward to.
</div>
<hr>
<table><tbody><tr>
<td><h4> <div id=captiontext>Sculpture or Warship?  We claim the former!  At least, that's our story and we're sticking to it. </h4>
</td>
<td><img src="{% static  'images/JGuntherwithplane.jpg' %}" hspace="200" height="900">
</td>
</tr></tbody></table>
<hr>
<div id=holidaytext>Nick, ever distractable by the minutest arcana, has discovered, to his considerable alarm, that parenting two-year old twins requires eternal vigilance (which Zanna knew all along), as the following sequence, with my bemused one-hundred-and-two year old mother Jane looking on, may illustrate:</div><hr>
<table><tbody><tr>
<td><h4> <div id=captiontext>A semi-calm moment is misleading</h4>
</td>
<td><img src="{% static  'images/xmas2018happy.JPG' %}" hspace="200" height="900">
</td>
</tr>
<td><h4> <div id=captiontext>As David is, accidentally we agree, pulled over by Adam, dramatically increasing the likelihood of mayhem</h4>
</td>
<td><img src="{% static  'images/xmas2018davidfalling.JPG' %}" hspace="200" height="900">
</td>
</tr>
<table><tbody><tr>
<td><h4> <div id=captiontext>Forcing the photographer to intervene.</h4>
</td>
<td><img src="{% static  'images/xmas2018wnick.JPG' %}" hspace="200" height="900">
</td>
</tr></tbody></table>
<div id=holidaytext>Few things can distract my mother from her reading, currently consisting chiefly of 'Churchill: Walking with Destiny', a work almost as good as so portentous a title requires, but the appearance of three small cherubs (gremlins?) credibly claiming to be her grandsons met that intimidating challenge easily</div>
<hr>

<div id=holidaytext>Well, that's family life over the holidays.   Now, far too late, Nick can see so clearly the many advantages of doing this all while still young ... or at least younger...<br>
On to New Orleans!<hr>
In closing, a very Happy New Year to you all!<br>

Warmly,<br>
Nick & Susanna Gunther</div>

</body></html>
